@page "/contracts"

@using BlazorProject.Client.HttpRepository
@using BlazorProject.Client.Models
@inject HttpClient Http
@inject IContractsHttpRepository ContractsHttpRepo
@inject IClientsHttpRepository ClientsHttRepo
@inject NavigationManager NavManager

<h3>Contracts</h3>

@if (contracts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <button class="btn btn-primary" @onclick="AddContract">Add Contract</button>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date Requested</th>
                <th>Contractor</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contract in contracts)
            {
                <tr>
                    <td>@contract.Id</td>
                    <td>@contract.DateRequested.ToString("dd-MM-yyyy")</td>
                    @foreach (var client in clients)
                    {
                        @if (client.Id == contract.Contractor)
                        {
                            <td>@client.Name</td>
                        }
                    }
                    <td>@contract.Completed</td>
                    <td><button class="btn btn-primary" @onclick="() => ViewEdit(contract.Id)">View/Edit</button></td>
                    <td><button class="del btn btn-primary" @onclick="() => DeleteContract(contract.Id)">X</button></td>
                </tr>
            }
        </tbody>
    </table>
    <style>
        .del {
            color: black;
            background-color: red;
        }

            .del:hover {
                background-color: darkred;
            }
    </style>
    <style type="text/css">
        td {
            padding: 0 30px;
        }
        th {
            padding: 0 30px;
        }
    </style>
}

@code {
    private List<Models.Contract> contracts;
    private List<Models.Client> clients;

    protected override async Task OnInitializedAsync()
    {
        var clientsQueryResult = await ClientsHttRepo.GetAll();
        clients = clientsQueryResult.ToList();

        var contractsQueryResult = await ContractsHttpRepo.GetAll();

        contracts = contractsQueryResult.ToList();
    }

    private void ViewEdit(int id)
    {
        NavManager.NavigateTo("/contract/" + id);
    }

    private async Task DeleteContract(int id)
    {
        await ContractsHttpRepo.DeleteOne(id);
        await OnInitializedAsync();
    }

    private void AddContract()
    {
        NavManager.NavigateTo("/newcontract");
    }
}
