@page "/newemployee"

@using BlazorProject.Client.HttpRepository
@using BlazorProject.Client.Models
@inject HttpClient Http
@inject IEmployeesHttpRepository EmployeesHttpRepo
@inject IPositionsHttpRepository PositionsHttpRepo
@inject NavigationManager NavManager

<h3>Create A New Employee</h3>

@if (availableId == 0)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="@employeeFormModel" OnValidSubmit="@Submit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <dl>
            <dt>Id Number</dt>
            <dd><InputNumber @bind-Value="availableId" disabled="true" /></dd>

            <dt>First Name</dt>
            <dd><InputText @bind-Value="employeeFormModel.FirstName" /></dd>

            <dt>Surname</dt>
            <dd><InputText @bind-Value="employeeFormModel.LastName" /></dd>

            <dt>Date Of Birth</dt>
            <dd><InputDate @bind-Value="employeeFormModel.DateOfBirth" /></dd>

            <dt>Job Title</dt>
            <dd>
                <InputSelect @bind-Value="employeeFormModel.Position">
                    <option></option>
                    @foreach (var position in positions)
                    {
                        <option>@position.Name</option>
                    }
                </InputSelect>
            </dd>

            <dt>Join Date</dt>
            <dd><InputDate @bind-Value="employeeFormModel.DateJoined" /></dd>
        </dl>
        <button type="submit">Add new employee</button>
    </EditForm>
}

@code
{
    private List<Position> positions;
    private int availableId = 0;
    private EmployeeFormModel employeeFormModel = new();
    private Models.Employee newEmployee = new Models.Employee();


    protected override async Task OnInitializedAsync()
    {
        var positionsQuery = await PositionsHttpRepo.GetAll();
        positions = positionsQuery.ToList();

        availableId = await EmployeesHttpRepo.GetLastId();
    }

    private async void Submit()
    {
        newEmployee.Id = availableId;

        newEmployee.FirstName = employeeFormModel.FirstName;
        newEmployee.LastName = employeeFormModel.LastName;
        newEmployee.DateOfBirth = employeeFormModel.DateOfBirth;
        newEmployee.Position = await PositionsHttpRepo.GetIdFromName(employeeFormModel.Position);
        newEmployee.DateJoined = employeeFormModel.DateJoined;

        await EmployeesHttpRepo.PostOne(newEmployee);

        NavManager.NavigateTo("/employees");
    }
}

