@page "/reports/archive"

@using BlazorProject.Client.HttpRepository
@using BlazorProject.Client.Models
@using BlazorProject.Client.Components
@inject HttpClient Http
@inject IWeeklyReportsHttpRepository WeeklyReportsHttRepo
@inject IMonthlyReportsHttpRepository MonthlyReportsHttpRepo
@inject NavigationManager NavManager

@if (weeklyReports == null)
{
    <p>There are no reports yet</p>
}
else
{
    <h4>Weekly Reports</h4>
    <table>
        <thead>
            <tr>
                <th>Week Number</th>
                <th>Year</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var report in weeklyReports)
            {
                <tr>
                    <td>@report.WeekNumber</td>
                    <td>@report.Year</td>
                    <td><button class="btn btn-primary" @onclick="(e => ViewWeeklyReport(report.Year, report.WeekNumber))">View</button></td>
                </tr>
            }
        </tbody>
    </table>
    <h4>Monthly Reports</h4>
    <table>
        <thead>
            <tr>
                <th>Month</th>
                <th>Year</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var report in monthlyReports)
            {
                <tr>
                    <td>@report.Month</td>
                    <td>@report.Year</td>
                    <td><button class="btn btn-primary" @onclick="(e => ViewMonthlyReport(report.Year, report.Month))">View</button></td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private List<Models.WeeklyReport> weeklyReports;
    private List<Models.MonthlyReport> monthlyReports;

    protected override async Task OnInitializedAsync()
    {
        var weeklyReportsQuery = await WeeklyReportsHttRepo.GetAll();

        weeklyReports = weeklyReportsQuery.ToList();

        var monthlyReportsQuery = await MonthlyReportsHttpRepo.GetAll();
        monthlyReports = monthlyReportsQuery.ToList();

    }

    private void ViewWeeklyReport(int year, int weekNumber)
    {
        NavManager.NavigateTo("/weeklyreport/" + year + "/" + weekNumber);
    }

    private void ViewMonthlyReport(int year, int month)
    {
        NavManager.NavigateTo("/monthlyreports/" + year + "/" + month);
    }
}
