@page "/weeklyreport/{year:int}/{weeknumber:int}"

@using System.Globalization
@using BlazorProject.Client.HttpRepository
@using BlazorProject.Client.Models
@inject HttpClient Http
@inject IWeeklyReportsHttRepository WeeklyReportsHttRepo

@if (isWorking)
{
    <p>Loading</p>
}
else
{
    @if (alreadyExist)
    {
        <p>Already exists</p>
    }
    else
    {
        <p>Doesn't exist</p>
    }
}

@code {
    [Parameter]
    public int year { get; set; }
    [Parameter]
    public int weekNumber { get; set; }
    private bool isWorking { get; set; } = true;
    private bool alreadyExist { get; set; }

    private Models.WeeklyReport weeklyReport { get; set; }

    protected override async Task OnInitializedAsync()
    {
        weeklyReport = new Models.WeeklyReport();
        alreadyExist = await CheckIfExists();

        isWorking = false;
    }

    private async Task<bool> CheckIfExists()
    {
        bool exists;
        try
        {
            weeklyReport = await WeeklyReportsHttRepo.GetOne(year, weekNumber);
            exists = true;
        }
        catch
        {
            exists = false;
        }
        return exists;
    }
}
